
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All Albums</title>
    </head>
    <body>
    <h1>All the Albums</h1>
    <div th:each="album : ${albums}">
        <a th:href="'/albums/' + ${album.id}">
            <h3 th:text="${album.title}">Album Title</h3>
        </a>
        <p>
        The artist <span th:text="${album.artist}"></span>
        </p>
    </div>

    <div>
        <form method="POST" action="/albums">
           Title:<input name="title" />
           Artist:<input name="artist" />
           Number of Songs:<input type="count" name="songCount" />
            How long is the Songs:<input name="length" />
            <input type="submit" />
        </form>
    </div>
    </body>
    </html>
