<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All albums</title>
</head>
<body>
<h1>All the Albums</h1>

<div th:each="album : ${albums}" class="album">
    <h3 th:id="${album.title}" th:text="${album.title}">Movie Title</h3>
    <p>
        <a th:href="${ '/songs/' + album.song.id}">album by <span th:text="${album.song}"></span></a>
    </p>
</div>

<div>
    <form method="POST" action="/albums">
        Title:<input name="title" />
        Director:<input name="song" />
        Release date:<input type="date" name="releaseDate" />
        <input type="submit" />
    </form>
</div>
</body>
</html>