<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Albums</title>
    <style>
        div {
            width: 320px;
            padding-left: 100px;
            border: 5px solid;
            margin: 10px;
        }
    </style>
</head>
<body style="background-color: darkgray; padding-left: 100px;">
<h1>All the Albums</h1>
<div th:each="album : ${albums}">
    <h3 th:text="${album.title}">Album Title</h3>
    <p>
        The artist <span th:text="${album.artist}"></span>
    </p>
</div>
<div>

    <form method="POST" action="/albums"><br>
        Title:<input name="title" /><br><br>
        Artist:<input name="artist" /><br><br>
        Number of Songs:<input type="count" name="songCount" /><br><br>
        How long is the Songs:<input name="length" /><br><br>
        Album Image:<br><img src="https://images-na.ssl-images-amazon.com/images/I/71qwQLtuB%2BL._SL1200_.jpg"
                   alt="Artist" style="width: 100px; height: 100px;"><br><br>
        <input type="submit" /><br>
    </form>
</div>
</body>
</html>