        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>All the songs on the Album</title>
            <style>
                div {
                    width: 320px;
                    padding-left: 100px;
                    border: 5px solid;
                    margin: 10px;
                }
            </style>

        </head>
        <body style="background-color: darkgray; padding-left: 100px;">
          <h1 th:text="${album.title}"></h1>

          <div th:each="song: ${album.songs}">
              <h3 th:text="${song.title}"></h3>

            </div>

        <h2>Add a new song in this album</h2>
            <form method="POST" th:action="${'/albums/' + album.id + '/songs'}">
                Title:<input name="title" />
                Track number of songs:<input type="number" name="trackNumber" />
                How long is the Songs:<input name="length" />
                <input type="submit" />
            </form>

        </body>
        </html>

