<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>song</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:text="${song}"></h1>-->

<!--<div th:each="album : ${song.albums}">-->
<!--    <h3 th:text="${album.title}"></h3>-->
<!--</div>-->

<!--<h2>Add a new movie by this director!</h2>-->
<!--&lt;!&ndash; create the route that listens for this post and creates a new movie with the director whose id is in the path &ndash;&gt;-->
<!--<form method="POST" th:action="${'/songs/' + song.id + '/albums'}">-->
<!--    <input name="title" />-->
<!--    <input name="releaseDate" type="date" />-->
<!--    <input type="submit" />-->
<!--</form>-->
<!--</body>-->
<!--</html>-->